@font-face
{
    font-family: Gotham HTF Book;
    src: url('Gotham HTF Book.otf');
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
li {
	padding: 1em;
	background: rgb(215, 255, 253);
	border-bottom: rgb(255, 121, 81) 3px solid;

}
img {
	display: block;
	max-width: 80%;
	margin: auto;
	border-radius: 50%;
}
.button {
	font-family: 'Varela Round', sans-serif;
	display: block;
	margin: auto;
	position: relative;
	padding: 0.5em;
	background-color: rgb(255, 121, 81);
	border-radius: 0.5em;
	text-align: center;
	text-decoration: none;
	color: white;
	-webkit-box-shadow: 0px 5px 0px 0px rgba(121, 61, 42, 1);
	-moz-box-shadow: 0px 5px 0px 0px rgba(121, 61, 42, 1));
	box-shadow: 0px 5px 0px 0px rgba(121, 61, 42, 1);
}
.button {
	transition: all 0s linear;
}
.button:hover {
	top: 3px;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(121, 61, 42, 1);
	-moz-box-shadow: 0px 1px 0px 0px rgba(121, 61, 42, 1));
	box-shadow: 0px 2px 0px 0px rgba(121, 61, 42, 1);

}
img:hover{
    -webkit-animation: bounce 1s infinite;
}
@-webkit-keyframes bounce {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
